# wrangler
!/wrangler.toml
/build
.wrangler

# wasm-pack
/pkg

# npm
!/package.json
!/package-lock.json
node_modules

# next
.next
!/.eslintrc.json
!/README.md
!/next-env.d.ts
!/next.config.js
!/tsconfig.json
!/tailwind.config.js
!/postcss.config.js

# source codes
!/pages/**/*.tsx
!/components/**/*.tsx
